<nav>
	<ul>
	  <li><a href="#"><span class = "primero"><i class = "icon icon-home3"></i></span>Inicio</a></li>
	  <li><a href="#"><span class = "segundo"><i class = "icon icon-price-tag"></i></span>Categorias</a>
	  	  <ul>
	  	  	<li><a href="#">item #1</a></li>
	  	  	<li><a href="#">item #2</a></li>
	  	  	<li><a href="#">item #3</a></li>
	  	  	<li><a href="#">item #4</a></li>
	  	  	<li><a href="#">item #5</a></li>
	  	  </ul>
	  </li>

      <li><a href="#"><span class = "tercero"><i class = "icon icon-briefcase"></i></span>Servicios</a></li>
      <li><a href="#"><span class = "cuarto"><i class = "icon icon-file-text2"></i></span>Acerca de</a></li>
      <li><a href="#"><span class = "quinto"><i class = "icon icon-envelop"></i></span>Contacto</a></li>
	</ul>
</nav>